<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/balzss/luxbar@ae5835e2/build/luxbar.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>SpaSimple Node.js</title>
</head>

<body>