{{> head }} 
{{> navbar }}

<div class="row mt-5">
    <div class="col-8">
        <h1 class="text-uppercase text-center">Capitán américa</h1>
        <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quas laborum temporibus odit aliquam rerum aut veritatis expedita perferendis laboriosam, tenetur quidem consequatur ut tempora corrupti, ipsa earum ratione nam?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/descarga.jpeg" class="img-thumbnail mx-auto">
    </div>
</div>
{{> footer }}