{{> head }} 
{{> navbar }}
<div class="container-fluid">
    <div class="row mt-6">
        <div class="col-12">
            <h1 class="text-uppercase text-center text-success">Porfolio Works...</h1>
        </div>
    </div>
</div>
{{> footer }}